body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #ffff;
}

.login-container {
    background: black;
  color: #ffff;
  margin: 100px 100px 100px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 4px;
    box-sizing: border-box; /* Add this to ensure consistent sizing */
}

input {
    border: 1px solid #ddd;
}

button {
    border: none;
    background: #007bff;
    color: #fff;
    font-size: 16px;
}
a {
    color: #007bff;
    text-decoration: none;
}
/* Responsive Design */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
   .login-container {
  margin: 100px 100px 100px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
}

@media (max-width: 480px) {
  .login-container {
  margin: 100px 10px 100px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
}
